.chart-container {
  height: 400px;
  margin: 16px 0;
  padding: 0 24px 40px 0;
  overflow: visible;

  @media (min-width: 1200px) {
    height: 500px;
  }

  ::ng-deep {
    .ngx-charts {
      text {
        font-size: 14px !important;
        font-weight: 500 !important;
      }

      .legend-title {
        font-size: 14px !important;
      }
    }
  }
}

:host-context(.dark-theme) {
  .chart-container {
    ::ng-deep {
      .ngx-charts {
        text {
          fill: rgba(255, 255, 255, 0.87) !important;
        }

        .grid-line-path {
          stroke: rgba(255, 255, 255, 0.1) !important;
        }

        .legend-title,
        .legend-label {
          fill: rgba(255, 255, 255, 0.87) !important;
        }
      }
    }
  }
}
