@use "@angular/material" as mat;
@use "components/mat-form-field-theme" as mat-form-field-theme;
@use "components/mat-table-theme" as mat-table-theme;
@use "components/mat-card-theme" as mat-card-theme;
@use "components/mat-paginator-theme" as mat-paginator-theme;
@use "themes/theme" as theme;

@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
}

html {
  @include mat.all-component-themes(theme.$light-theme);
  @include mat-form-field-theme.theme(theme.$light-theme);
  @include mat-table-theme.theme(theme.$light-theme);
  @include mat-card-theme.theme(theme.$light-theme);
  @include mat-paginator-theme.theme(theme.$light-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  @include mat.all-component-colors(theme.$dark-theme);
  @include mat-form-field-theme.color(theme.$dark-theme);
  @include mat-table-theme.color(theme.$dark-theme);
  @include mat-card-theme.color(theme.$dark-theme);
  @include mat-paginator-theme.color(theme.$dark-theme);
}
