<app-book-upload></app-book-upload>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Lista de Libros</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @let books = booksService.books();
    @if (books.initialLoad && books.loading) {
      <app-loading-spinner
        loadingText="Cargando libros..."
      ></app-loading-spinner>
    } @else {
      @if (books.data.length === 0) {
        <div class="no-data">
          <mat-icon>menu_book</mat-icon>
          <p>No hay libros registrados</p>
          <p>Sube algunos libros para comenzar</p>
        </div>
      } @else {
        <mat-form-field appearance="outline">
          <mat-label>Filtrar libros</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Buscar por título, autor, editorial..."
            #filterInput
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        @let displayedColumns =
          [
            "title",
            "authors",
            "publisher",
            "language",
            "numPages",
            "averageRating",
            "publicationDate",
          ];
        <table mat-table [dataSource]="dataSource()" matSort>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
            <td mat-cell *matCellDef="let book">{{ book.title }}</td>
          </ng-container>

          <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Autores</th>
            <td mat-cell *matCellDef="let book">
              {{ getAuthorsNames(book) | empty }}
            </td>
          </ng-container>

          <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Editorial</th>
            <td mat-cell *matCellDef="let book">
              {{ book.publisher?.name | empty }}
            </td>
          </ng-container>

          <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Idioma</th>
            <td mat-cell *matCellDef="let book">
              {{ book.language?.code | empty }}
            </td>
          </ng-container>

          <ng-container matColumnDef="numPages">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Páginas</th>
            <td mat-cell *matCellDef="let book">{{ book.numPages }}</td>
          </ng-container>

          <ng-container matColumnDef="averageRating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Calificación
            </th>
            <td mat-cell *matCellDef="let book">
              <span>{{ book.averageRating | number: "1.1-1" }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="publicationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha de Publicación
            </th>
            <td mat-cell *matCellDef="let book">
              {{ book.publicationDate | date: "mediumDate" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          @if (dataSource().filter) {
            <tr class="mat-mdc-no-data-row">
              <td [attr.colspan]="displayedColumns.length">
                No se encontraron libros que coincidan con "{{
                  filterInput.value
                }}"
              </td>
            </tr>
          }
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="10"
          showFirstLastButtons
          aria-label="Seleccionar página de libros"
        ></mat-paginator>
      }
    }
  </mat-card-content>
</mat-card>
