mat-card {
  margin: 24px;
  padding: 24px;

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    mat-card-title {
      font-size: 28px;
    }
  }

  mat-card-content {
    mat-form-field {
      width: 100%;
    }
  }

  table {
    width: 100%;
  }
}
