@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

html,
body {
  height: 100%;
}

html {
  @include mat.all-component-themes($light-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

.custom-snackbar {
  &.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .mat-mdc-snack-bar-action {
    color: inherit;
  }
}
