<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">upload_file</mat-icon>
      Cargar Nómina
    </ng-template>
    <app-payroll-file-upload></app-payroll-file-upload>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">list</mat-icon>
      Lista de Empleados
    </ng-template>
    <app-employee-list></app-employee-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">insert_chart</mat-icon>
      Reporte de Nómina
    </ng-template>
    <app-payroll-report></app-payroll-report>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      Reporte de Información Personal
    </ng-template>
    <app-personal-info-report></app-personal-info-report>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">health_and_safety</mat-icon>
      Reporte de Salud y Pensión
    </ng-template>
    <app-health-pension-report></app-health-pension-report>
  </mat-tab>
</mat-tab-group>
