@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .mat-mdc-card {
    backdrop-filter: blur(5px);
    padding: 2rem;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .dark-theme {
    .mat-mdc-card {
      .logo {
        filter: brightness(0) invert(1);
      }
    }
  }

  @media (max-width: 480px) {
    .mat-mdc-card {
      padding: 1.5rem 1.5rem 2rem;
    }
  }
}

@mixin typography($theme) {
  .mat-mdc-card {
    .mat-mdc-card-title {
      font-family: mat.get-theme-typography(
        $theme,
        headline-small,
        font-family
      );
    }
    .mat-mdc-card-content {
      font-family: mat.get-theme-typography($theme, body-medium, font-family);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
