@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  mat-paginator {
    background: transparent;
    border-top: 1px solid var(--mat-card-subtle-divider);
    margin-top: 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--mat-primary-500) 2%,
        transparent
      );
    }

    .mat-mdc-paginator-container {
      padding: 0.5rem 1rem;
    }
  }
}

@mixin typography($theme) {
  mat-paginator {
    .mat-mdc-paginator-container {
      font-family: mat.get-theme-typography($theme, body-medium, font-family);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
