@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  table {
    width: 100%;
  }
}

@mixin typography($theme) {
  table {
    th {
      font-family: mat.get-theme-typography($theme, title-medium, font-family);
    }
    td {
      font-family: mat.get-theme-typography($theme, body-medium, font-family);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
