.chart-container {
  height: 500px;
  margin: 16px 0;
  padding: 0 24px 40px 0;
  overflow: visible;

  ::ng-deep {
    .ngx-charts {
      text {
        font-size: 14px !important;
        font-weight: 500 !important;
      }

      .legend-title {
        font-size: 14px !important;
      }

      .legend-label {
        font-size: 14px !important;
      }

      .pie-label-line {
        stroke: rgba(0, 0, 0, 0.7) !important;
      }

      .pie-label {
        fill: rgba(0, 0, 0, 0.87) !important;
      }

      .pie-grid {
        .arc {
          path {
            stroke: white !important;
            stroke-width: 2px !important;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .legend-entries {
        margin-left: 16px !important;
      }
    }
  }
}

:host-context(.dark-theme) {
  ::ng-deep {
    .ngx-charts {
      text,
      .legend-label-text {
        fill: rgba(255, 255, 255, 0.87) !important;
      }

      .pie-label {
        fill: rgba(255, 255, 255, 0.87) !important;
      }

      .pie-label-line {
        stroke: rgba(255, 255, 255, 0.7) !important;
      }

      .legend-title-text {
        fill: rgba(255, 255, 255, 0.87) !important;
      }

      .pie-grid {
        .arc {
          path {
            stroke: #424242 !important;
          }
        }
      }
    }
  }
}
