:host {
  display: block;
  padding: 20px;
}

.tab-icon {
  margin-right: 8px;
}

::ng-deep {
  .mat-mdc-tab-body-wrapper {
    padding: 24px;
  }
}

:host-context(.dark-theme) {
  ::ng-deep {
    .mat-mdc-tab-body-wrapper {
      background: rgba(255, 255, 255, 0.05);
    }
  }
}
